<div class="sidebar-nav" data-ng-controller="SidebarCtrl as sidebarCtrl">
      <div class="navbar navbar-default" role="navigation">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".sidebar-navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <span class="visible-xs navbar-brand">Sidebar menu</span>
        </div>
        <div class="navbar-collapse collapse sidebar-navbar-collapse">
          <ul class="nav">
            <li ng-repeat="item0 in sidebarCtrl.menu">
              <a href="#" ng-click="isCollapsed = !isCollapsed">{{item0.text}}</a>
              <ul ng-if="item0.children.length > 0" collapse="isCollapsed">
                <li ng-repeat="item1 in item0.children" >
                  {{item1.text}}
                  <ul ng-if="item1.children.length > 0">
                    <li ng-repeat="item2 in item1.children" ng-if="item1.children.length > 0" >
                      {{item2.text}}
                    </li>
                  </ul>
                </li>
              </ul>
            </li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>
